{% extends "base.html" %}

{% block content %}

<br>
<br>
<br>
<br>
<br>
<br>
<div class="mid">
	<div id="links">
		<ul id="linklist">
			<li><a href="/targets/" style="background-color: rgb(25, 25,25);">targets</a></li>
			<li><a href="/getPangSub/" style="background-color: rgb(25, 25,25);">获取旁|子站</a></li>
			<li><a href="/xcdn/" style="background-color: rgb(25, 25, 25);">xcdn</a></li>
			<li><a href="/highRisk/" style="background-color: rgb(25, 25, 25);">高危漏扫</a></li>
			<li><a href="/sqli/" style="background-color: rgb(25, 25,25);">sqli</a></li>
			<li><a href="/xdir/" style="background-color: rgb(25, 25, 25);">扫目录</a></li>
			<li><a href="/xcms/" style="background-color: rgb(25, 25, 25);">cms漏扫</a></li>
			<li><a href="/xwebshell/" style="background-color: rgb(25, 25,25);">webshell暴破</a></li>
			<li><a href="/xadmin/" style="background-color: rgb(25, 25, 25);">管理员登录暴破</a></li>
			<li><a href="/xwaf/" style="background-color: rgb(25, 25, 25);">waf暴破</a></li>
			<li><a href="/dbquery/" style="background-color: rgb(25, 25, 25);">dbquery</a></li>
			<li><a href="/result/" style="background-color: rgb(25, 25, 25);">扫描结果</a></li>
		</ul>
				<script src="../static/navi.js" type="text/javascript"></script>
	</div>
</div>

{% endblock %}

