{% extends "base.html" %}
{% block extrastyle %}
{% endblock %}
{% block extrajs %}
<script type="text/javascript">
function xdir(){

var xdirTarget=document.getElementById("INPUT_2")
var xdirTargetValue=xdirTarget.value
if(xdirTargetValue.length==0){
alert("单击xdir按钮时目标不能为空!")
xdirTarget.focus();
return false;
}


var xmlhttp;
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }

document.getElementById("myinput").style.display="none"
document.getElementById("button1").style.display="none"
document.getElementById("myoutput").style.display="block"
document.getElementById("myoutput").innerHTML="processing...wait a moment:D..."

xmlhttp.onreadystatechange=function()
  {
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
    document.getElementById("myoutput").innerHTML=xmlhttp.responseText;
    }
  }

xmlhttp.open("GET","/xdir/?action=xdir&targetValue="+xdirTargetValue,true);
xmlhttp.send();

}


</script>

{% endblock %}
{% block content %}

<div class="mid" id="myinput">
	<input type="text" id="INPUT_2" placeholder="dir scan..." name="targetValue"/>
</div>

<button id=button1 style="margin:0
		auto;display:block;color:white;background:black;border:none;width:90px;height:45px;margin-top:40px"
		onclick="xdir()">xdir</button>

{% endblock %}
